<head>
    <link href="~/css/style_contact.css" rel="stylesheet" />
</head>


<body>
    <div class="contact">
        <p class="section-box">
            Got a question? <br />
            We are here to help! <br />
            Click below to contact us <br />
            <i class="fas fa-arrow-down"></i>

        </p>
        <button>
            <email address="gasparovivana@outlook.com" content="Email us"></email>
        </button>
    </div>
    <script src="~/js/app.js"></script>
</body>
