<!DOCTYPE html>

<html>
<head>
    <!--<link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-reboot.min.css" />-->


</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
