@model IEnumerable<OPG.Models.Product>;
    <html>
<head>
    <title>OPG</title>
</head>
    <body>
        @foreach (var product in Model)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <p>@product.Product_ID.ToString("c")</p>
                        <p>@product.User_ID.ToString("c")</p>
                        <p>@product.Product_Description</p>
                    </div>
                </div>
            </div>
        }
    </body>
</html>