<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="css/products.css">
</head>
<body>
<header>
    <section id="products" class="section-box">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="title">
                    <h1>PRODUCTS</h1>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#vegetables">Vegetables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fruit">Fruit</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#other-products">Other products</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="buttonn" type="search" placeholder="Search" aria-label="Search">
                        <!--<button type="submit"><i class="fa fa-search"></i></button>-->
                    </form>
                </div>
            </div>
        </nav>
    </section>
</header>
    <div id="vegetables">
        <h2>Vegetables</h2>
        <div class="grid-container">
            <div class="prod">
                <div class="herbs"><a title="herbs"></a></div>
                <img src="images/herbs.jpg" alt="herbs">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Herbs</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="carrot"><a title="carrot"></a></div>
                <img src="images/carrot.jpg" alt="carrot">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Carrot</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="tomato"><a title="tomato"></a></div>
                <img src="images/tomato.jpg" alt="tomato">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Tomato</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="cherrytomato"><a title="Cherry tomato"></a></div>
                <img src="images/cherry.jpg" alt="cherrytomato">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Cherry tomato</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="potato"><a title="potato"></a></div>
                <img src="images/potato.jpg" alt="potato">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Potato</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="salad"><a title="salad"></a></div>
                <img src="images/salad.jpg" alt="salad">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Salad</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="onion"><a title="Onion"></a></div>
                <img src="images/onion.jpg" alt="onion">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Onion</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="broccoli"><a title="broccoli"></a></div>
                <img src="images/broccoli.jpg" alt="broccoli">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Broccoli</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="cauliflower"><a title="cauliflower"></a></div>
                <img src="images/cauliflower.jpg" alt="cauliflower">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Cauliflower</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="cucumbers"><a title="cucumbers"></a></div>
                <img src="images/cucumbers.jpg" alt="cucumbers">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Cucumber</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="eggplant"><a title="eggplant"></a></div>
                <img src="images/eggplant.jpg" alt="eggplant">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Eggplant</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="zuchinni"><a title="zucchini"></a></div>
                <img src="images/zuccini.jpg" alt="zucchini">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Zucchini</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="spinch"><a title="spinach"></a></div>
                <img src="images/spinach.jpg" alt="spinach">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Spinach</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="radish"><a title="radish"></a></div>
                <img src="images/radish.jpg" alt="radish">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Radish</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="leek"><a title="leek"></a></div>
                <img src="images/leek.jpg" alt="leek">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Leek</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="kale"><a title="kale"></a></div>
                <img src="images/kale.jpg" alt="kale">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Kale</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="celery"><a title="celery"></a></div>
                <img src="images/celery.jpg" alt="celery">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Celery</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="beans"><a title="beans"></a></div>
                <img src="images/beans.jpg" alt="beans">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Beans</h3>
                </div>
                <button class="button">Order</button>
            </div>
        </div>
    </div>

    <div id="fruit">
        <h2>Fruit</h2>
        <div class="grid-container">
            <div class="prod">
                <div class="apple"><a title="apple"></a></div>
                <img src="images/apple.jpg" alt="apple">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Apple</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="pear"><a title="pear"></a></div>
                <img src="images/pear.jpg" alt="pear">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Pear</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="orange"><a title="orange"></a></div>
                <img src="images/orange.jpg" alt="orange">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Orange</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="cherry"><a title="l"></a></div>
                <img src="images/lemon.jpg" alt="lemon">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Lemon</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="cherry"><a title="cherry"></a></div>
                <img src="images/cherryy.jpg" alt="cherry">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Cherry</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="strawberry"><a title="strawberry"></a></div>
                <img src="images/strawberry.jpg" alt="strawberry">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Strawberry</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="blacberry"><a title="blackberry"></a></div>
                <img src="images/blackberry.jpg" alt="blackberry">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Blackberry</h3>
                </div>
                <button class="button">Order</button>
            </div>

            <div class="prod">
                <div class="raspberry"><a title="raspberry"></a></div>
                <img src="images/raspberry.jpg" alt="raspberry">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Raspberry</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="blueberry"><a title="blueberry"></a></div>
                <img src="images/blueberry.jpg" alt="blueberry">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Blueberry</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="bannana"><a title="bannana"></a></div>
                <img src="images/bannana.jpg" alt="bannana">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Bannana</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="grape"><a title="grape"></a></div>
                <img src="images/grape.jpg" alt="grape">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Grape</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="grapefruit"><a title="grapefruit"></a></div>
                <img src="images/grapefruit.jpg" alt="grapefruit">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Grapefruit</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="plum"><a title="plum"></a></div>
                <img src="images/plum.jpg" alt="plum">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Plum</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="pomegranate"><a title="pomegranate"></a></div>
                <img src="images/pomegranate.jpg" alt="pomegranate">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Pomegranate</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="watermelon"><a title="watermelon"></a></div>
                <img src="images/watermelon.jpg" alt="watermelon">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Watermelon</h3>
                </div>
                <button class="button">Order</button>
            </div>
        </div>
    </div>

    <div id="other-products">
        <h2>Other products</h2>
        <div class="grid-container">
            <div class="prod">
                <div class="meat"><a title="meat"></a></div>
                <img src="images/meat.jpg" alt="meat">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Meat</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="delicatessen"><a title="delicatessen"></a></div>
                <img src="images/del.jpg" alt="delicatessen">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Delicatessen</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="dairy-products"><a title="dairy-products"></a></div>
                <img src="images/dairy.jpg" alt="dairy-products">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Dairy products</h3>
                </div>
                <button class="button">Order</button>
            </div>
            <div class="prod">
                <div class="fish"><a title="fish"></a></div>
                <img src="images/fish.jpg" alt="fish">
                <div class="description">
                    <h4>Product description</h4>
                    <h3>Fish</h3>
                </div>
                <button class="button">Order</button>
            </div>
        </div>
    </div>
</body>
</html>