@model ShopViewModel;
<head>
    <link rel="stylesheet" href="~/css/style_products.css">
</head>



<body>
    <section id="fullpage">
        <div class="grid-container">
            @foreach (var p in Model.Product)
            {
                @*<div class="grid-container">*@
                <div class="prod">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@p.ProductId">@p.Name</a>
                    @*<img alt="apple" src="../images/apple.jpg" />*@
                    @*<div>
                            <a class="button" asp-controller="Order" asp-action="AddToOrder"
                               asp-route-pieId="@Model.ProductId">Add to cart</a>
                        </div>*@
                </div>

            }
        </div>
    </section>
</body>