* {
    box-sizing: border-box;
}

.fullpage {
    background-image: url('../images/cart.jpg');
    background-size: cover;
    width: 100%;
    height: 620px;
}

.table {
    width: 150%;
    height: auto;
}


.table-striped {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    position: center;
}


.cart-info {
    display: flex;
    flex-wrap: wrap;
}


thead {
    background-color: rgb(222, 233, 247);
    overflow-x: auto;
}


tbody, td, tfoot, th, thead, tr {
    border-color: darkgrey;
}


h2, h4 {
    margin-left: 50px;
    font-weight: lighter;
    font-family: system-ui;
    text-align: center;
    background: #fcfcfc;
}

h2 {
    padding-top: 10px
}

h4 {
    padding-bottom: 25px;
}

#text-box {
    background: snow;
}

.button {
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

.btn-block {
    width: 75%;
    text-align: right;
    margin-left: -20%;
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
    background: none;
    height: 20px;
}

.section-box {
    overflow-x: auto;
    border-color: lightslategrey;
    width: 750px;
    height: 250px;
    margin: 0;
    background: #FFFFFF;
    box-shadow: 4px 3px 3px 4px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #fcfcfc;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 15px;
}

#checkout, .p {
    border-color: lightslategrey;
    width: 200px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 4px 3px 3px 4px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: #fcfcfc;
    float: right;
    margin-right: 250px;
    margin-top: 15px;
}


.form-group {
    text-align: center;
    width: 100%;
    text-align-last: center;
}