* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    margin: 0px;
    padding: 26px !important;
    height: 100%;
    width: 100%;
    background-image: url("../images/background.jpg");
}



.form-box {
    width: 350px !important;
    height: 480px !important;
    position: relative;
    margin: 0% auto !important;
    padding: 5px;
    overflow: hidden;
}


.button-box {
    width: 222px;
    height: 50px;
    margin: 56px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(61 78 136);
    border-radius: 30px;
}


.toggle-btn {
    padding: 14px 28px 4px 26px !important;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: black
}



#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 112px;
    height: 100%;
    background: linear-gradient(to right, rgb(165, 165, 201), rgb(70, 82, 121));
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}


.input-field {
    width: 100%;
    padding: 10px 0;
    border-left: 0;
    margin: 5px 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid beige;
    outline: none;
    background: none;
    text-emphasis-color: white;
}



.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-left: -1px;
    background: linear-gradient(to right, rgb(165, 165, 201), beige);
    border: 0;
    outline: none;
    border-radius: 30px !important;
    margin: 18px;
}



#login {
    left: 50px;
}

#register {
    left: 350px;
}




.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

footer {
    background-color: rgb(222, 233, 247);
    text-align: center;
}


#copyright {
    margin-top: 0px;
    position: relative;
    display: block;
    border-top: 1px solid darkgray;
    padding: 5px 0;
    z-index: 1;
}


/*
body
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
}


.login-box
{
    width: 280px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}*/
