*
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-size:cover;


}



.hero {
    height: 100%;
    width: 100%;
    background-image: url("../images/lock111.jpg");
}

.form-box
{
    width:380px;
    height:480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
}

.button-box
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(61, 78, 136);
    border-radius: 30px;
}

.toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: black
}



#btn
{
    top:0;
    left: 0;
    position: absolute;
    width:110px;
    height: 100%;
    background: linear-gradient(to right, rgb(165, 165, 201), rgb(70, 82, 121));
    border-radius: 30px;
    transition: .5s;
}

.input-group
{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}

.input-field
{
    width: 100%;
    padding: 10px 0;
    border-left: 0;
    margin: 5px 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid beige;
    outline: none;
    background: none;
    text-emphasis-color:white;
   
 
}

.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:auto;
    background: linear-gradient(to right, rgb(165, 165, 201), beige);
    border:0;
    outline: none;
    border-radius: 30px;

}

#login
{
    left:50px;
}

#register
{
    left:450px;
}




.textbox i 
{
    width: 26px;
    float: left;
    text-align: center;



}



/*
body
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
}


.login-box
{
    width: 280px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
