* 
{
    box-sizing:border-box;
}

.fullpage 
{
   background-image:url(../images/cart.jpg); 
    background-size:contain;
    width:100%;
}

.table 
{
    width: 150%;
    height: auto;
}


.table-striped 
{
    margin: 80px auto;
    border-collapse:collapse;
    width: 80%;
    position:center;
}


.cart-info 
{
    display:flex;
    flex-wrap:wrap;
}


thead {
    background-color: rgb(222, 233, 247);
    overflow-x: auto;
}


tbody, td, tfoot, th, thead, tr 
{
    border-color: darkgrey;
}


h2, h4 {
    margin-left: 50px;
    margin-top: 10px;
    font-weight: lighter;
    font-family: system-ui;
    text-align: center;
    background: #fcfcfc;
}

#text-box {
    background:snow;
}

.button {
    height: 20px;
}

.btn-block {
    width: 100%;
    text-align:right;
    margin-left:-20%;
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-top:10px;
    background: #fcfcfc;
    height: 50px;
}

.section-box 
{
    overflow-x: auto;
    border-color: lightslategrey;
    width: 830px;
    height: 450px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 4px 3px 3px 4px rgba(0,0,0,0.10);
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: lightyellow;
}

#checkout, .p {
    background-color: aqua;
    border-color: lightslategrey;
    width: 830px;
    height: 150px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 4px 3px 3px 4px rgba(0,0,0,0.10);
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    background-image: none;
    background-color: lightyellow;
}

.container{
    float:inherit;
}