/*.nav-item {
    text-align: center;
    clear: both;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;*/
    /*    margin-top: 20px;
*/ /*background-image: url('/images/login.png');
    background-size: cover;
    height: 520px;
    width: 100%;
}*/
