* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.navbar-brand img {
    height: 60px;
    padding-left: 30px;
}


    .vegetables {
    background-color: rgb(255, 255, 255);
}


.section-box {
    background-color: #e4e0e0;
}


.vegetables {
    background-color: #e4e0e0;
}


.fruit {
    background-color: #e4e0e0;
}


.other-products {
    background-color: #e4e0e0;
}



.prod {
 
    width: 300px ;
    max-width: 300px ;
    margin: 0 4px ;
    border-radius: 4px ;
    white-space: normal ;
    transition: all 0.3s ease ;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.prod:hover {
        background-color: rgb(255, 255, 255) ;
        -webkit-transform: translateY(-5px) ;
        -ms-transform: translateY(-5px) ;
        transform: translateY(-5px) ;
        -webkit-box-shadow: 0px 14px 32px 0px rgba(94, 40, 40, 0.2) ;
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.2) ;
        border-color: #000000 ;
        display: flex;
        flex-direction: column;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: .5rem;
        padding-bottom: .5rem;
}

h4 {
    text-align: center;
    font-family: cursive ;
    text-shadow: 1px 0.2px ;
    font-size: 20px ;
    text-align: center ;
}


h3 {
    font-size: 25px ;
    text-align: center ;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    white-space: normal;
    transition: 2s;
    transition-timing-function: ease-out;
    column-count: 3;
}


header h1 {
    margin: 0;
    padding: 0 12px;
    font-size: 70px;
    text-align: center;
    color: #000000;
    text-shadow: 5px 5px 10px rgb(222, 222, 223);
    font-family: 'Brush Script MT', cursive;
}


h2 {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 45px;
}


.button {
    box-shadow: #70aaec;
    font-family: cursive;
    align-content: space-between;
    background-color: rgb(210, 215, 219);
    display: block;
    margin: 12px auto;
    padding: 8px 0px;
    font-size: 16px;
    border: 2px solid transparent;
    border-color: #000000;
    color: rgb(3, 19, 34);
    outline: none;
    border-radius: 22px;
    width: 150px;
    cursor: pointer;
}


/* FOOTER*/

footer {
    background-color: rgb(222, 233, 247);
}


#copyright {
    margin-top: 0px;
    position: relative;
    display: block;
    border-top: 1px solid darkgray;
    padding: 5px 0;
    z-index: 1;
}

